
.topnav {
  position: fixed;
  display: flex;
  width: 1520px;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
}
.logo {
  display: flex;
  width: 6em;
}
.topnav-p1 {
  display: flex;
  width: 7em;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}

.topnav-p2 {
  display: flex;
  width: 7em;
  align-items: flex-end;
  justify-content: center;
}
.logo1 {
  margin-top: 8px;
  padding-right: 8px;
  width: 1.2em;
}
.head1 {
  
  font-family: "IBM Plex Sans", sans-serif;
 
}
.search {
  display: flex;
  flex-direction: row;
  width: 20em;
  margin-left: 220px;
  position: relative;
  width: 650px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px;
  overflow: hidden;
}
.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.search .icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #5c5c5c;
  border-radius: 50%;
  transform: translate(-4px, -4px) rotate(315deg);
}
.search .icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: #716f6f;
  transform: translate(6px, 6px) rotate(315deg);
}
#mysearch {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px 0px;
  background-color: #f5f5f5;
}
.button {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
}
.button button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  width: 130px;
  height: 35px;
  text-align: center;
  margin: 2px 10px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #4997da;
  background: transparent;
  color: #4997da;
  cursor: pointer;
  align-items: center;
}
.button .button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  width: 130px;
  height: 35px;
  text-align: center;
  margin: 2px 10px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #4997da;
  background-color: #0079d3;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}
.user img {
  width: 35px;
  height: 35px;
  padding-left: 10px;
  padding-top: 5px;
}
.menu {
  position: fixed;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "IBM Plex Sans";
  margin-left: 15px;
  margin-top: 35px;
}
.menu-p1 {
  display: flex;
  flex-direction: column;
  width: 20em;
}
.menu-p2 {
  display: flex;
  flex-direction: column;
  width: 17em;
}
.menu h1 {
  font-size: 10px;
  font-family: "IBM Plex Sans";
  color: #87aad2;
  padding-bottom: 10px;
  padding-top: 15px;
}
.menu h2 {
  font-size: 10px;
  font-family: "IBM Plex Sans";
  color: #87aad2;
  padding-bottom: 0px;
  padding-top: 25px;
}
.menuitem1 {
  padding-bottom: 15px;
  display: flex;
  width: 10em;
}
.menu img {
  width: 20px;
  height: 20px;
}
.menu a {
  color: black;
  text-decoration: none;
}
.menu ul {
  font-family: "Noto Sans", sans-serif;
  padding-left: 0;
  list-style-type: none;
}

.side-nav li {
  padding-bottom: 15px;
}
.side-nav a:hover {
  background-color: rgb(241, 238, 238);
}
.side-nav-ul ul {
  padding-top: 5px;
  padding-left: 30px;
  display: none;
}
.side-nav-ul li:hover ul {
  display: block;
}
.side-nav .sub-arrow::after {
  content: "\203A";
  float: right;
  margin-right: 20px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.side-nav li:hover .sub-arrow::after {
  content: "\2039";
}
.menu-end {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.menu-end p {
  border-top: 1px solid rgb(169, 169, 169);

  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}
.menu-end button {
  font-family: "Noto Sans";
  font-size: 13px;
  width: 230px;
  height: 40px;
  text-align: center;
  margin: 2px 10px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #4997da;
  background-color: #0079d3;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}
.feed{
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 2000px;
    background-color: #DAE0E6;
    margin-left: 18em;
    padding-top: 20px;
}
.feed h1{
    font-family: "IBM Plex Sans";
    font-size: 14px;
    padding-left: 120px;
    padding-top: 30px;
}
.feed h2{
    font-family: "IBM Plex Sans";
    font-size: 14px;
    padding-left: 120px;
    padding-top: 30px;
}
.trending{
    display: flex;
    flex-direction: row;
    font-family: "IBM Plex Sans";
    width: 61em;
    height: 10em;
    margin-left: 120px;
    border-radius: 10px;
}
.news1{
    display: flex;
    background-color: #5c5c5c;
    width: 15em;
    height: 11em;
    margin-right: 10px;
    border-radius: 10px;
}
.news2{
    display: flex;
    background-color: #5c5c5c;
    width: 15em;
    height: 11em;
    margin-right: 10px;
    border-radius: 10px;
}
.news3{
    display: flex;
    background-color: #5c5c5c;
    width: 15em;
    height: 11em;
    margin-right: 10px;
    border-radius: 10px;
}
.news4{
    display: flex;
    background-color: #5c5c5c;
    width: 15em;
    height: 11em;
    padding-right: 10px;
    border-radius: 10px;
}
.post-nav{
    display: flex;
    flex-direction: row;
    font-family: "IBM Plex Sans";
    width: 47em;
    height: 4em;
    margin-left: 120px;
    border-radius: 4px;
    background-color: #ffffff;
}
.post-nav button{
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    cursor: pointer;
}